<!doctype html>
<html>
<head>
<title>Skrill Settings</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, input, label, option, select {
	font-family: Verdana,Arial,sans-serif,Unicode MS !important;
    font-size: 12px !important;
    color: #333 !important;
}
span {
	font-family: Verdana,Arial,sans-serif,Unicode MS !important;
    font-size: 11px !important;
    color: #555 !important;
}
label {
	float:left;
	padding: 5px;
	width: 200px;
}
.input-text, span, select {
	float:left;
	padding: 5px;
	width: 400px;
}
select {
	width: 415px;
}
img {
	height: 35px;
	margin-right: 5px;
}
.div-separator {
	margin-bottom: 10px;
}
.div-tooltips {
	margin-left: 205px;
}
.div-img {
	height: 35px;
}
.clear {
	clear: both;
}
.input-button {
	margin: 5px;
    padding: 10px;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	background-color: #0db3e6;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}
.message {
	padding: 12px;
	position: absolute;
	top: 10px;
	right: 10px;
	border: 1px solid transparent;
    border-radius: 0.25rem;
}
.success {
	background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.failed {
	background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
@media screen and (max-width: 768px) {
	.div-tooltips {
		margin-left: 0px;
	}
	.input-text, label, span {
		width: 98%;
	}
	select {
		width: 100%;
	}
}
</style>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(event) {
		setTimeout(removeMessage, 5000);
	});
	function removeMessage() {
		if (document.getElementById('successMessage')) {
			document.getElementById('successMessage').style.display = 'none';
		}
		if (document.getElementById('errorMessage')) {
			document.getElementById('errorMessage').style.display = 'none';
		}
	}
	function changeLanguage(language) {
		document.getElementById('skrill_payment_name_en').style.display = 'none';
		document.getElementById('skrill_payment_name_de').style.display = 'none';
		document.getElementById('skrill_payment_name_'+language).style.display = 'block';
	}
</script>
</head>
<body>

{% if settingType is not empty %}
	<h3>{{ trans('Skrill::Settings.' ~ settingType ~ '_title', [], 'messages', locale) }}</h3>
	{% if status == 'success' %}
		<div class="message success" id="successMessage">
			{{ trans('Skrill::Settings.BACKEND_GENERAL_SETTINGS_SAVED', [], 'messages', locale) }}
		</div>
	{% elseif status == 'failed' %}
		<div class="message failed" id="errorMessage">
			{{ trans('Skrill::Settings.ERROR_GENERAL_SAVE_SETTINGS', [], 'messages', locale) }}
		</div>
	{% endif %}

	<div id="skrillSettings">
		<form action="save" method="post" name="savesettings" class="settings">
			<input type="hidden" name="settingType" value="{{ settingType }}" />
			<input type="hidden" name="plentyId" value="{{ plentyId }}" />
			{% if settingType == 'skrill_general' %}
				<div>
					<label for="Merchant ID">{{ trans('Skrill::Settings.SKRILL_BACKEND_MID', [], 'messages', locale) }} *</label>
					<input type="text" class="input-text" name="merchantId" value="{{ setting.merchantId }}" required />
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_MID', [], 'messages', locale) }}</span>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Merchant Account">{{ trans('Skrill::Settings.SKRILL_BACKEND_MERCHANT', [], 'messages', locale) }} *</label>
					<input type="text" class="input-text" name="merchantAccount" value="{{ setting.merchantAccount }}" required />
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_MERCHANT', [], 'messages', locale) }}</span>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Recipient">{{ trans('Skrill::Settings.SKRILL_BACKEND_RECIPIENT', [], 'messages', locale) }} *</label>
					<input type="text" class="input-text" name="recipient" value="{{ setting.recipient }}" required />
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_RECIPIENT', [], 'messages', locale) }}</span>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Logo Url">{{ trans('Skrill::Settings.SKRILL_BACKEND_LOGO', [], 'messages', locale) }}</label>
					<input type="text" class="input-text" name="logoUrl" value="{{ setting.logoUrl }}"/>
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_LOGO', [], 'messages', locale) }}</span>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Shop Url">{{ trans('Skrill::Settings.SKRILL_BACKEND_SHOPURL', [], 'messages', locale) }}</label>
					<input type="text" class="input-text" name="shopUrl" value="{{ setting.shopUrl }}"/>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="API Password">{{ trans('Skrill::Settings.SKRILL_BACKEND_APIPASS', [], 'messages', locale) }} *</label>
					<input type="password" class="input-text" name="apiPassword" value="*****" required />
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_APIPW', [], 'messages', locale) }}</span>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Secret Word">{{ trans('Skrill::Settings.SKRILL_BACKEND_SECRETWORD', [], 'messages', locale) }} *</label>
					<input type="password" class="input-text" name="secretWord" value="*****" required />
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_SECRET', [], 'messages', locale) }}</span>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Display">{{ trans('Skrill::Settings.SKRILL_BACKEND_DISPLAY', [], 'messages', locale) }}</label>
					<select name="display" value="{{ setting.display }}">
						{% if setting.display == 'IFRAME' %}
							<option value="IFRAME" selected="selected">{{ trans('Skrill::Settings.SKRILL_BACKEND_IFRAME', [], 'messages', locale) }}</option>
						{% else %}
							<option value="IFRAME">{{ trans('Skrill::Settings.SKRILL_BACKEND_IFRAME', [], 'messages', locale) }}</option>
						{% endif %}
						{% if setting.display == 'REDIRECT' %}
							<option value="REDIRECT" selected="selected">{{ trans('Skrill::Settings.SKRILL_BACKEND_REDIRECT', [], 'messages', locale) }}</option>
						{% else %}
							<option value="REDIRECT">{{ trans('Skrill::Settings.SKRILL_BACKEND_REDIRECT', [], 'messages', locale) }}</option>
						{% endif %}
					</select>
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_DISPLAY', [], 'messages', locale) }}</span>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Merchant Email">{{ trans('Skrill::Settings.SKRILL_BACKEND_MERCHANTEMAIL', [], 'messages', locale) }}</label>
					<input type="text" class="input-text" name="merchantEmail" value="{{ setting.merchantEmail }}"/>
				</div>
				<div class="clear"></div>
				<div class="div-tooltips">
					<span>{{ trans('Skrill::Settings.SKRILL_BACKEND_TT_MERCHANTEMAIL', [], 'messages', locale) }}</span>
				</div>
			{% else %}
				<div class="div-separator clear"></div>
				<div class="div-img">
					{% if settingType == 'skrill_adb' %}
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/santander-rio.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/itau.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/banco-do-brasil.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/bradesco.png" />
					{% elseif settingType == 'skrill_aob' %}
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/hsbc.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/caixa.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/santander.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/PSEi.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/webpaylogo.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/bancolombia.jpg" />
					{% elseif settingType == 'skrill_aci' %}
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/red-link.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/pago-facil.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/boleto-bancario.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/servi-pag.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/efecty.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/davivienda.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/exito.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/banco-de-occidente.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/carulla.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/edeq.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/surtimax.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/bancomer_m.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/oxxo.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/banamex.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/santander.png" />
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/red-pagos.png" />
					{% else %}
						<img alt"{{ settingType }}" src="{{ plugin_path('Skrill') }}/images/logos/{{ settingType | replace({'skrill_': ''}) }}.png" />
					{% endif %}
				</div>
				<div class="div-separator clear"></div>
				<div>
					{{ trans('Skrill::Settings.' ~ settingType ~ '_countries', [], 'messages', locale) }}
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Languages">{{ trans('Skrill::Settings.BACKEND_GENERAL_LANGUAGE', [], 'messages', locale) }}</label>
					<select onChange="changeLanguage(this.value);" id="skrill_language" name="skrill_language" value="en">
						<option value="en">{{ trans('Skrill::Settings.BACKEND_GENERAL_ENGLISH', [], 'messages', locale) }}</option>
						<option value="de">{{ trans('Skrill::Settings.BACKEND_GENERAL_GERMAN', [], 'messages', locale) }}</option>
					</select>
				</div>
				<div class="div-separator clear"></div>
				<div>
					<label for="Payment Name">{{ trans('Skrill::Settings.BACKEND_GENERAL_PAYMENTMETHOD_NAME', [], 'messages', locale) }}</label>
					<input type="text" class="input-text" id="skrill_payment_name_en" name="language_en_paymentName" value="{{ setting.language.en.paymentName }}"/>
					<input style="display: none;" type="text" class="input-text" id="skrill_payment_name_de" name="language_de_paymentName" value="{{ setting.language.de.paymentName }}"/>
				</div>
				{% if settingType == 'skrill_apm' %}
					<input type="hidden" name="enabled" value="1" />
				{% else %}
					<div class="div-separator clear"></div>
					<div>
						<label for="Enabled">{{ trans('Skrill::Settings.BACKEND_CH_ACTIVE', [], 'messages', locale) }}</label>
						{% if setting.enabled == 1 %}
							<input type="checkbox" name="enabled" value="1" checked />
						{% else %}
							<input type="checkbox" name="enabled" value="1"/>
						{% endif %}
					</div>
				{% endif %}
				<div class="div-separator clear"></div>
				<div>
					<label for="Show Separately">{{ trans('Skrill::Settings.SKRILL_BACKEND_PM_MODE', [], 'messages', locale) }}</label>
					{% if setting.showSeparately %}
						<input type="checkbox" name="showSeparately" value="1" checked="checked" />
					{% else %}
						<input type="checkbox" name="showSeparately" value="1"/>
					{% endif %}
				</div>
			{% endif %}
			<div class="div-separator clear"></div>
			<div>
				<input name="savebutton" type="submit" class="input-button" value="{{ trans('Skrill::Settings.BACKEND_CH_SAVE', [], 'messages', locale) }}" />
			</div>
		</form>
	</div>
{% endif %}

</body>
</html>
